body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
        background-color: #605f5e;
}
.footer {
    clear: both;
    margin-right: 1em;
    margin-left: auto;
    width: 80%;
}
.logo {
    
    padding: 1px;
    
    -webkit-filter: drop-shadow( -0px -0px .5em #96feff );
            filter: drop-shadow( -0px -0px .5em #96feff ); /* Same syntax as box-shadow */
            
}
.controlBar {
    margin-bottom: 1em;
}
button {
    border: none;
    margin: 1em;
    padding: 1em;
    outline: none;
}
button:hover {
    color: white;
    background-color: dodgerblue; 
}
.monthContainer {
    text-align: center;
    width: 90%;
    margin: auto;
}
.createMonth {
    background-color: ghostwhite;
    float: left;
    margin: 0.5em;
    padding: 1em;
    height: 13em;
    border: 1px solid gainsboro;
}
.monthHeader {
    font-size: 1.25em;
    text-align: left;
}
.header {
    text-align: center;
}
.dowHeader {
    float: left;
    margin: 0.25em;
    width: 2em;
    border: 1px solid ghostwhite;
    border-bottom: 1px solid gray;
}
.dowHeaderSun {
    color: #4F4F4F;
    float: left;
    margin: 0.25em;
    width: 2em;
    border: 1px solid ghostwhite;
    border-bottom: 1px solid gray;
}
.dowHeaderSat {
    color: #4F4F4F;
    float: left;
    margin: 0.25em;
    width: 2em;
    clear: right;
    border: 1px solid ghostwhite;
    border-bottom: 1px solid gray;
}
.writearea {
    text-align: center;
}
.dow {
    background-color: white;
    border: 1px solid lightgrey;
    float: left;
    margin: 0.25em;
    width: 2em;
}
.dowFirstDOW {
    background-color: white;
    border: 1px solid lightgray;
    float: left;
    margin: 0.25em;
    width: 2em;
    clear: left;
}
.dowFirstDOWToday {
    background-color: white;
    background-color: dodgerblue;
    border: 1px solid black;  
    float: left;
    margin: 0.25em;
    width: 2em;
    clear: left;
}
.dowToday {
    background-color: dodgerblue;
    border: 1px solid black;    
    float: left;
    margin: 0.25em;
    width: 2em;
}
.dowBlank {
    float: left;
    margin: 0.25em;
    width: 2em;
    border: 1px solid ghostwhite;
}
.dowBlankFirst {
    float: left;
    margin: 0.25em;
    width: 2em;
    clear: left;
        border: 1px solid ghostwhite;
}